@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, sans-serif;
}

body {
  min-height: 100vh;
  background-color: #e3e9f7;
  display: flex;
}

main {
  padding: 20px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  height: 100vh;
  border-radius: 0px 18px 18px 0px;
}

#sidebar_content {
  padding: 0.9rem;
}

#user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1.2rem;
}

#user_avatar {
  width: 7rem;
  height: 6rem;
  border-radius: 20px;
  object-fit: cover;
}

#user_infos {
  display: flex;
  flex-direction: column;
}

#user_infos span:last-child {
  color: #6b6b6b;
  font-size: 0.8rem;
}

#side_items {
    
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;

}
.side_item {
  padding: 1rem;
  cursor: pointer;
  border-radius: 8px;
}
