@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", system-ui, sans-serif;
}

body {
  min-height: 100vh;
  background-color: #e3e9f7;
  display: flex;
}

main {
  padding: 20px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  height: 100vh;
  border-radius: 0px 18px 18px 0px;
  position: relative;
}

#sidebar_content {
  padding: 0.9rem;
}

#user {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1.2rem;
}

#user_avatar {
  width: 7rem;
  height: 6rem;
  border-radius: 20px;
  object-fit: cover;
}

#user_infos {
  display: flex;
  flex-direction: column;
}

#user_infos span:last-child {
  color: #6b6b6b;
  font-size: 0.8rem;
}

#side_items {
  display: flex;
  flex-direction: column;
  gap: 8px;
  list-style: none;
}
.side_item {
  padding: 1rem;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.side_item.active {
  background-color: #4f46e5;
}

.side_item:hover:not(.active),
#logout_btn:hover {
  background-color: #e3e9f7;
}
.side_item a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #0a0a0a;
  font-weight: bold;
}

.side_item.active a {
  color: #e3e9f7;
}
.side_item a i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
}

#logout {
  border-top: 1px solid #e3e9f7;
  padding: 0.6rem;
}

#logout_btn {
  border: 1px solid red;
  border: none;
  padding: 0.7rem;
  font-size: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-radius: 8px;
  text-align: start;
  cursor: pointer;
  background-color: transparent;
}

#open_btn {
  position: absolute ;
  top: 30px;
  right: -19px;
  width: 20px;
  height: 30px;
}
